.shop-container{
        display: flex;
        gap: 15px;
        width:100%;
        height: 100% ;   
}

.product-container{
    border-right: 1px solid black;
    margin-left: 10px;
    padding-right: 10px;
    width: 70%;
}